# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform variable files
*.tfvars
*.tfvars.json

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Lambda build artifacts
*.zip

# Local test files
*.log
archive
archive.gz